{% extends 'base.html' %}

{% block content %}
<div class="flex-container">
    <div class="story">
        <h2>Story Title</h2>
        {% for fragment in fragments %}
            <h4> {% if fragment.position == 0 %} 
                    Begining
                {% elif fragment.position == 1 %} 
                    Middle
                {% else %}
                    End
                {% endif %}
                by {{ fragment.alias }}</h4>
            <p>{{ fragment.fragment }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
