{% extends 'base.html' %}

{% block content %}

<div class="vertical-center">
    
    
    <div class="about">
        
        <p>This is an experiment in crowd sourced story telling</p>
        <p>
            <a href="https://twitter.com/AVatchinsky" target="_blank">@AVatchinsky</a>
        </p>
        
        <div class="messege-us-btn-container animated rubberBand">
        <div class="horizontal-center">
            <div class="fb-messengermessageus" 
                messenger_app_id="{{ FB_APP_ID }}"
                page_id="{{ FB_PAGE_ID }}"
                color="blue"
                size="xlarge" ></div>
        </div>
        </div>

    </div>
        
    <div class="story">
        <h2>{{ story.title }}</h2>
        {% for fragment in fragments %}
            <div class="fragment">
                <h4> {% if fragment.position == 0 %} 
                        Begining
                    {% elif fragment.position == 1 %} 
                        Middle
                    {% else %}
                        End
                    {% endif %}
                    by {{ fragment.alias }}</h4>
                
                <p>{{ fragment.fragment }}</p>
            </div>
            
        {% endfor %}
    </div>
    
    
    
</div>






{% endblock %}
