{% extends 'base.html' %}

{% block content %}

<div class="v-flex-container">
    

    <div class="flex-start about">
        
        <p>This is an experiment in crowd sourced story telling</p>
        <div class="h-flex-container">
            <div class="fb-messengermessageus" 
                messenger_app_id="{{ FB_APP_ID }}"
                page_id="{{ FB_PAGE_ID }}"
                color="blue"
                size="xlarge" ></div>
        </div>
            
        <p>
            <a href="https://twitter.com/AVatchinsky" target="_blank">@AVatchinsky</a>
        </p>
        
    </div>
    
    
    
    <div class="story">
        <h2>Story Title</h2>
        {% for fragment in fragments %}
            <h4> {% if fragment.position == 0 %} 
                    Begining
                {% elif fragment.position == 1 %} 
                    Middle
                {% else %}
                    End
                {% endif %}
                by {{ fragment.alias }}</h4>
            <p>{{ fragment.fragment }}</p>
        {% endfor %}
    </div>
    
    
    
</div>






{% endblock %}
