{% extends 'base.html' %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-color:black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>About</h1>
                        <h2 class="subheading">StoryBot is a writing game built around Facebook Messenger</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>
                        As part of a deep dive I am doing into bots and their applications at the <a href="http://blog.cornelltech.io" target="_blank">foundry</a> at <a href="https://tech.cornell.edu" target="_blank">Cornell Tech</a> I built StoryBot, a Facebook messenger bot whose purpose is to mediate a simple writing game in which you are paired up with another anonymous person and take alternating turns writing a story. You have no direct means of communicating with the other person and are also provided with a writing prompt should you choose to follow it. 
                    </p>
                    <p>
                        The primary goal is to explore the application of bots for purposes different than ordering stuff, scheduling meetings, or looking up the weather which dominate the current tech scene. Another goal is to learn design and engineering principles in chat-based applications which are becoming more and more popular. In addition I am curious what type of content can be created in this fashion from a creative perspective.
                    </p>
                    <p>A thank you to both <a href="https://twitter.com/everydayslang" target="_blank">Stephen Lang</a> and <a href="https://twitter.com/emily_mca" target="_blank">Emily McAllister</a> who helped me in thinking through the bot and in spending time testing it!</p>
                    <p>A blog post with learnings will be posted in the coming weeks</p>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
